<h1>Grocery</h1>
<h2>Add Grocery</h2>

<!-- <input type="text" placeholder="Enter Item Name" #task/> -->

<!-- <div class="input-table">  
  <table>
      <tr>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Image URL</th>
        <th></th>
      </tr>						
    <tr>
      <td><input type="text" id="empId" placeholder="Item Name"></td>
      <td><input type="text" id="empName" placeholder="Quantity"></td>
      <td><input type="text" id="empAge" placeholder="Image URL"></td>
    <td>
        <select id="empGender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </td> -->
      <!-- <td><input type="submit" value="Add"></td>
    </tr>
  </table>
</div> -->
<!-- <button>Add</button> -->
<!-- <div>
  <app-list></app-list>
</div> -->
<!-- <div>
  <app-view></app-view>
</div> -->
<!-- <br>
<h2>List</h2>
	<table class="empList">
		<thead>
			<tr>
				<th>Item name</th>
				<th>Quantity</th>
				<th>Image URL</th>
			</tr>
      <a href="list"><td><input type="submit"  value="edit"></td></a>
			<a href="view"><td><input type="submit"  value="view"></td></a>
		</thead>
		<tbody></tbody>
	</table> --> -->
<router-outlet></router-outlet>
